{% extends "/templates/base.html" %}
    {% block title %}Rot13 Encryption{% endblock %}
    {% block body %}
        <div class="page-header text-center">
            <h1>Enter some texts for ROT13</h1>
        </div>

        <form method="post" class="form-horizontal text-center">
            <div class="form-group">
                <div class="col-lg-6 col-offset-3">
                    <textarea name="text" class="form-control" rows="10" placeholder="Write something here">{{ texts }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit Query</button>
            </div>
        </form>
    {% endblock %}
