{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block body %}
    <div class="text-center page-header">
        <a href="/blog"><h1>My blog</h1></a>
    </div>    
    <div class="col-lg-8 col-offset-2">
        <a href="/blog/newpost">New Post</a>
        <br>
    	{% for post in posts %}
            <b class="text-left">{{ post.subject }}</b> 
    	    <br>
            <pre>{{ post.content }}</pre>
        {% endfor %}
        <br>
        {{age}}
	</div>
{% endblock %}
