{% extends "base.html" %}
{% block title %}New Post{% endblock %}
{% block body %}
    <div class="page-header text-center">
        <h1>New post submission</h1>
    </div>

    <form method="post" class="form-horizontal">
        <div class="form-group"> 
            <div class="col-lg-6 col-offset-3">
               <input name="subject" class="form-control" placeholder="Subject" value="{{ subject }}">
           </div>
        </div>
        <div class="form-group"> 
            <div class="col-lg-6 col-offset-3">
                <textarea name="content" class="form-control" rows="10" placeholder="Content">{{ content }}</textarea>
            </div>
        </div>
        {% if error %}
            <div class="alert alert-danger text-center">{{error}}</div>
        {% endif %}
        <div class="form-group">
            <div class="col-lg-6 col-offset-3">
                <button type="submit" class="btn btn-default">Submit Query</button>
            </div>
        </div>
    </form>
{% endblock %}
